<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <!-- <img src="/w3images/avatar_g2.jpg" style="width:45%;" class="w3-round"><br><br> -->
    <h4><b>Animesh Agrawal</b></h4>
    <p class="w3-text-grey">Software Developer</p>
  </div>
  <div class="w3-bar-block">
    <a href="#technical_skills" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-code fa-fw w3-margin-right"></i>Technical Skills</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-briefcase fa-fw w3-margin-right"></i>Work</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fas fa-graduation-cap fa-fw w3-margin-right"></i>Education</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fas fa-address-card fa-fw w3-margin-right"></i>Contact</a>
  </div>

  <div class="w3-panel w3-large">
    <a class="fa fa-github w3-hover-opacity" style="text-decoration:none;" href="https://github.com/animesha10" target="_blank"></a>
    <a class="fa fa-stack-overflow w3-hover-opacity" style="text-decoration:none; margin-left: 15px; color:red;" href="https://stackoverflow.com/users/2609625/animesh-agrawal" target="_blank"></a>
    <a class="fa fa-linkedin w3-hover-opacity" style="text-decoration:none; margin-left: 15px; color: #007bb5;" href="https://www.linkedin.com/in/animesh-agrawal-a9963136" target="_blank"></a>

  </div>
</nav>
